.linkbutton, a.linkbutton {
    color: #FFFFFF;
    line-height: normal;
    position: relative;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 13px;
    padding: 15px 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: $color-sea-green;
    margin: 0 0 1.25rem;
    @include transition(background-color 300ms ease-out);
    &:hover{
        background-color: $color-sea-green-dark;
        color: #FFFFFF;
    }
    &:focus{
        background-color: #007095;
        color: #FFFFFF;
        outline: none;
    }
    &.button-small{
        padding: 10px 20px;
        line-height: normal!important;
    }
}

.linkbutton[disabled],
a.linkbutton[disabled],
.linkbutton[disabled]:hover,
a.linkbutton[disabled]:hover {
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
}


.input-group-btn .linkbutton {
    width: auto;
    line-height: 30px;
    padding: 0 20px;
}

.panel .linkbutton {
    display: inline-block;
    width: auto;
    line-height: 30px;
}

.btn-group .linkbutton {
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.button-arrow-left{
    padding-left: 52px;
}

.button-arrow-right{
    padding-right: 52px;
}

.linkbutton.button-arrow-left, a.linkbutton.button-arrow-left{
    @extend .button-arrow-left;
}

.linkbutton.button-arrow-right, a.linkbutton.button-arrow-right{
    @extend .button-arrow-right;
}

.button-arrow-left::after, .button-arrow-right::after {
    background: transparent none no-repeat scroll 50% 50%;
    background-size: 1.75em 1.75em;
    background-image: url($assets-directory+"/images/arrow-sea-white.svg");
    bottom: 0;
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 45px;
}

.button-arrow-left::after {
    left: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}