.chosen-container-multi{
  .chosen-choices li.search-choice {
    background: none;
    border: 1px solid #C6C6C4;
    box-shadow: none;
    .search-choice-close {
       background: none;
       background-color: #00757F;
       margin: -5px;
       height: 21px;
       width: 18px;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
       :hover {
         background-color: #00676F;
       }
       :after {
         content: "\e014";
         font-family: 'Glyphicons Halflings';
         font-size: 10px;
         padding: 4px;
         color: #FFF;
         line-height: 21px;
       }
     }
   }
   .chosen-results li.highlighted{
     background: none;
     background-color: #00757F;
   }
}
