
.container-footer {
    background-color: #f2f1f0;
    overflow:hidden;
    margin-top: 40px;
    padding-top: 30px;

    hr {
        border-width: 1px 0 0 0;
        border-style: solid none;
        border-color: rgba(0, 0, 0, 0.1);
        border-color: rgba(0, 0, 0, 0.1) -moz-use-text-color rgba(255, 255, 255, 0.3);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image: none;
        height: 0px;
        background-color: $header-light-blue;
    }
}

.footertext{
  p {
      font-family: "Open Sans",Helvetica,Arial,sans-serif;
      font-size: 14px;
      color: #000;
      margin-bottom: 1em;
      line-height: 1.6;
      margin-top: 0;
  }

  ul {
      list-style: none;
      font-size: 14px;
      padding-left: 0;
      margin-top:0;
  }
}

.margin-top p {
  float: left;
  
}

.margin-top .pull-right {
    float:right;
  }