label {
    color: #7B7B79;
    display: block;
    margin: 0.6em 0px;
    font-weight: bold;
    padding: 0px;
    border: 0px none;
    vertical-align: baseline;
}

.panel label {
    margin: 0;
}


.form-horizontal .control-label{
    padding-top: 0;
    text-align: left;
    @media (min-width: 768px) {
        padding-top: 0;
        text-align: left;
    }
    @media (min-width: 992px){
        text-align: right;
    }
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
    border: 1px solid #C6C6C4;
    padding: 4px;
    width: 320px;
    margin-bottom: 0.3em;
    font-weight: normal;
    display: block;
    box-shadow: none;
    height: 35px;
    &:focus{
        border-color: $color-sea-green;
        outline: 0;
        background: #fff;
    }
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="password"] {
    display: table-cell;
    width: 100%;
    margin-bottom: 0;
}

textarea {
    z-index: 2;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #C6C6C4;
    border-radius: 0;
    box-shadow: none;
}

.select-wrapper{
    position: relative;
    z-index: 0;
    &:before{
        position: absolute;
        display: block;
        content: "";
        top: 12px;
        right: 12px;
        height: 0;
        width: 0;
        background-color: #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid $color-sea-green;
        pointer-events: none;
    }
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #E5E3E1;
    border-radius: 0;
    cursor: pointer;
    font-family:'Open Sans';
    font-size: 13px;
    padding: 0 10px;
    padding-right: 40px;
    width: 100%;
    margin-bottom: 0;
    z-index: 1;
    margin: 0 0 1rem 0;
    &:focus{
        border-color: $color-sea-green;
        outline: 0;
        background: #fff;
    }
}

select::-ms-expand {
    display: none;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e5e3e1;
}


