.row {
  @include make-row;
  &:after{
  	clear: both;
    display: table;
    content: "";
  }
}


@include make-grid-columns;


@include make-grid(xs);


@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}


@media (min-width: $screen-md-min) {
  @include make-grid(md);
}

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}

.grid-sizer {
  margin: 0;
  min-height: 0;
}