


.header-section {
  background: $color-blue-dark;
  overflow: hidden;
  .header-background-image {
    display: none;
  }
  @media only screen and (min-width: $screen-lg) {
    background: #7fb2c5;
    background: -webkit-linear-gradient(top,#83b4c6 0,#cbd6da 180px,#cbd6da 100%);
    background: linear-gradient(to bottom,#83b4c6 0,#cbd6da 180px,#cbd6da 100%);
    padding: 65px 20px 0;
    .header-background-image {

      background: url($assets-directory + '/images/outline_logo_bg.svg') no-repeat;
      background-size: 720px;
      position: absolute;
      right: 0;
      top: -80px;
      width: 720px;
      height: 321px;
      display: block;
      opacity: .15;
      background-position-x: 70px; 

    }
  }


  /*logo for desktop*/
  img.desktop-logo {
    display: none;
    @media only screen and (min-width: $screen-lg) {
      display: inline-block;
      width: 156px;
      height:156px;
      position:absolute;
      z-index: 10;
      top: -15px;
      left: -27px;
    }
  }

  /*logo for mobile*/
  img.mobile-logo {
   width: 200px;
   height:54px;
   @media only screen and (min-width: $screen-sm) {
    width: 270px;
    height: 73px;
  }
  @media only screen and (min-width: $screen-lg) {
   display: none;
 }
}


/*menu-liste*/
ul {
  list-style: none;
  display: inline-block;
  @media only screen and (min-width: $screen-lg) {
    .fa.fa-bars {
      display:none;

    } 

    li {
      font-family:"Altis-Light";
      padding-right: 15px;
   
    }

    li a{
      display:inline;
      font-family: "Altis-Light";
      padding: 10px 8px;
      line-height: 1.5;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: 0.5s ease;
      width: 0px;
      white-space: nowrap;
    }

    li a:hover{
      border-bottom: 2px solid black;
      width: 200px;
    }

      }

  
}

/*menu-ikone*/
.fa.fa-bars:before{ 
  display:block;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  color: #fff;
  font-size: 25px;

  @media only screen and (min-width: $screen-lg) {
    display:none;
  }
}


.navigaton-bar {

  display:none;
  >ul,
  >ul > form{
    text-transform: uppercase;
    display: block;
    padding: 0 20px;
    @media screen and (min-width: $screen-lg){
      display: inline-block;
    }

    >li {
      display: block;
      text-decoration: none;
      border-bottom: 1px solid $color-sea-green;  
      padding: 10px 15px;
      a{
        font-size: 14px;
        text-decoration: none;
        color: #FFF;
        font-family: "Altis";

        &.content-toggle:after{
          font-family: "FontAwesome";
          content: "\f078";
          float: right;
          color: $color-sea-green;
        }

      }
      @media only screen and (min-width: $screen-lg) {
        display: inline-block;
        text-align: center;
        border: none;
        a{
         color: $color-blue-dark;
         font-size: 18px;
         font-family: 'Altis-Light';

       }
       ul li{
        text-align: left;

      }

    }

  }
}
&.active{display:block;}
@media only screen and (min-width: $screen-sm) {
  width: 300px;
  position: relative;
  background: $color-blue-dark;
  @include calc(left, '100% - 300px');
}

@media only screen and (min-width: $screen-lg) {
  background-color: #FFF;
  position: relative;
  margin-bottom: 40px;
  padding: 15px 20px 15px 100px;
  margin-bottom: 60px;
  width: 100%;
  left: 0;
  display:block;
  &.active {display:block;}

}
}

.navigation {
  position: relative;
  z-index: 1;
}

.toggleableContent {
  display:none;
  text-transform: none;
  font-size: 20px;

  @media only screen and (min-width: $screen-lg) {
   position: absolute;
   background: white;
   top: 108px;
   width: 100%;
   left: 0;
 }

 &.active{display:block;



 }

}

}

