ol{
	li{
		list-style: decimal;
		ol{
			li{
				list-style: lower-alpha;
			}
		}
	}
}

ol.alphabetical{
	li{
		list-style: lower-alpha;
	}
}

.dl-horizontal dt {
	white-space: normal;
}

ul.dibk-list {
	padding: 0 20px;
	li {
		list-style-image: url($assets-directory+"/images/dibk_navlist.png");
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				color: $color-sea-green;
				text-decoration: none;
			}
		}
	}
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #00676f!important;
	color: #fff;
	border-radius: 4px;
	padding: 0 6px;

	
	
}

.nav-pills > li.active > a .label, .nav-pills > li.active > a:focus .label, .nav-pills > li.active > a:hover .label {
	background-color: #FFF;
	color: #00676f;
}
