.menulist .navbar-collapse li a:hover{
    color: #fff;
	background-color: #0b2a39;
}

.main-header{
    width: 100%;
}

.organization-header{
    display: none;
}

.breadcrumbs{
    display: none;
}

.page-header{
    position: relative;
    background: #f2f1f0 none repeat scroll 0 0;
    height: 60px;
    margin-bottom: 30px;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0;
}


.frontppage-list{
	a{
		text-decoration: none;
		:hover{
			text-decoration: underline;
		}
	}
}


.facet-sok-panel{
    padding-bottom: 20px;
    border: none;
    box-shadow: none;
}

.facet-sok-panel > .panel-heading{
	background: none;
}

.facet-sok-panel > .panel-heading .glyphicon{
	display: none;
}


.facet-sok-emne{
    border-top: 1px solid #E5E3E1;
    margin-bottom: 0;
}

a.facet-sok-tittel{
    color: #00757F;
    padding: 10px 0;
    background-color: transparent;
    display: block;
    position: relative;
    text-decoration: none;
    &:after{
    content: "";
    background: url($assets-directory+"/images/arrow-sea-green.svg") 50% 50% no-repeat;
    background-size: contain;
    display: block;
    height: 14px;
    width: 14px;
    margin-top: -8px;
    position: absolute;
    right: 15px;
    top: 20px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
	}
}


a.facet-sok-tittel.collapsed:after{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.facet-sok-emne{
	.nav-stacked{
    	padding: 0;
    	> li.facet-sok-undertitler{
    		padding: 0;
		}
	} 
}


.facet-sok-undertitler.collapse{
    display: none;
}

.facet-sok-undertitler.collapse.in{
    display: block;
}




li.facet-sok-undertitler ul li {
    float: none;
    background-image: url($assets-directory+"/images/arrow-sea-green.svg");
    padding-left: 15px;
    padding-bottom: 0;
    background-size: 10px 10px;
    list-style: none;
    background-position: left 3px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    a{
	    text-decoration: none;
	    color:  #000000;
	    padding: 0;
	    &:hover{
    		background: none!important;
    		color: #00757F;
		}
        .glyphicon-remove{
            display: none;
        }
	}
}

.search-result{
    padding: 10px 0;
    border-bottom: 1px solid #E5E3E1;
    margin-right: 0;
    margin-left: 0;
    p{
        color: #000;
        margin: 0;
    }
    h4.list-group-item-heading{
        font-size: 15px;
        text-transform: uppercase;
        font-family: Altis;
        font-weight: bold;
        margin: 0;
    }
}


// Searchbar:
.dibk-metakat-search-bar{
    ul.dibk-dropdown{
        margin-top: -14px!important;
        li{
            width: 100%;
            -webkit-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out;
            background-color: #fff;
            &:hover{
                background-color: #f2f1f0;
            }
            a{
                padding: 2px;
                &:hover{
                    background: none;
                }
            }
        }
        li.active{
            background-color: #00676f;
            color: #fff;
            &:hover{
                background-color: #00676f;
                color: #fff;
                a{
                    background: none;
                }
            }
            a, a:hover{
                background:none;
            }
        }
    }
}

