.first-pagination{
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.last-pagination{
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

ul.pagination{
    border-radius: 0;
    > li{
    	a{
		    -webkit-transition: background-color 300ms ease-out;
		    transition: background-color 300ms ease-out;
		    color: #00757F;
		    background-color: #FFF;
		    border-color: 1px solid #E5E3E1;
		    &:hover{
			    background-color: #F2F1F0;
			    border-color: #F2F1F0;
			    color: #00757F;
			}
			&:focus{
				background-color: #007095;
        		border-color: #007095;
        		color: white;
			}
		}
		&:first-child{
			> a{
				@extend .first-pagination;
			}
			> span{
				@extend .first-pagination;
			}
		}
		&:last-child{
			> a{
				@extend .last-pagination;
			}
			> span{
				@extend .last-pagination;
			}
		}
    }
    > li.active{
    	a{
    		background-color: #00676F;
    		color: #FFF;
    		&:hover{
			    border-color: #00676F;
			    background-color: #00676F;
			    color: #FFF;
			}
			&:focus{
				background-color: #007095;
		        border-color: #007095;
		        color: white;
			}
    	}
    }
}