.panel {
    border: 5px solid #F2F1F0;
    border-radius: 0;
    padding: 0;
    > div {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.panel-heading {
    padding: 15px;
    border: none;
    border-radius: 0;
    color: #000;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
}

.panel-default > .panel-heading {
    background: #F2F1F0 none repeat scroll 0% 0%;
}
