body{
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
	font-family: $header-font-family;
	font-weight: 400;
	margin: 0;
}

h1, .h1{

}

h2, .h2{

}

h3, .h3{

}

h4, .h4{

}

p.intro-text{
	font-family: "Open Sans";
}


a{
	color: $color-sea-green;
	text-decoration: underline;
	&:hover{
		color: $color-sea-green-dark;
	}
}


footer h2 {
	font-size: 14px;
	line-height: 1.6;
	font-weight: bold;
}

table {
	font-size: 14px;
}

.margin-top {
	font-size: 10px;
}


