$main-text-color: #222;
$color-blue-dark: #072938;  // Mobilheader
$header-light-blue: #F2F1F0;


// Primary
$color-white: #fff;
$color-blue-light: #8AAEC3;

// Secondary
$color-black: #000;
$color-sea-green: #00757F;
$color-sea-green-dark: #00676F;
$color-gray-warm: #D7D4D1;
$color-gray-warm-2: #E5E3E1;
$color-gray-warm-3: #F2F1F0;
$color-blue-light-2: #ECF2F6;

// Support
$color-orange: #C87821;
$color-green: #809E3D;
$color-blue-green: #54ACB8;
$color-lime-green: #C9D12B;
$color-warning: #9D312F;
$color-blue-hover: #E0E9EF;
$color-gray-main-background: #EDEBE9;

// Additional
$color-orange-light: #d98629;
$color-frozen-blue: #83b4c6;