@font-face {
	font-family:"Altis-Heavy";
	src:url($assets-directory+"/fonts/1087AB_0.eot#Altis-Heavy") format("eot");
	src: local("Altis-Heavy"),
		url($assets-directory+"/fonts/1087AB_0.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_0.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_0.svg") format("svg");
}

@font-face {
	font-family:"Altis-Book";
	src:url($assets-directory+"/fonts/1087AB_1.eot#Altis-Book") format("eot");
	src: local("Altis-Book"),
		url($assets-directory+"/fonts/1087AB_1.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_1.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_1.svg") format("svg");
}

@font-face {
	font-family:"Altis-Medium";
	src:url($assets-directory+"/fonts/1087AB_2.eot#Altis-Medium") format("eot");
	src: local("Altis-Medium"),
		url($assets-directory+"/fonts/1087AB_2.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_2.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_2.svg") format("svg");
}

@font-face {
	font-family:"Altis-ExtraBold";
	src:url($assets-directory+"/fonts/1087AB_3.eot#Altis-ExtraBold") format("eot");
	src: local("Altis-ExtraBold"),
		url($assets-directory+"/fonts/1087AB_3.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_3.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_3.svg") format("svg");
}

@font-face {
	font-family:"Altis-Black";
	src:url($assets-directory+"/fonts/1087AB_4.eot#Altis-Black") format("eot");
	src: local("Altis-Black"),
		url($assets-directory+"/fonts/1087AB_4.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_4.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_4.svg") format("svg");
}

@font-face {
	font-family:"Altis-Hairline";
	src:url($assets-directory+"/fonts/1087AB_5.eot#Altis-Hairline") format("eot");
	src: local("Altis-Hairline"),
		url($assets-directory+"/fonts/1087AB_5.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_5.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_5.svg") format("svg");
}

@font-face {
	font-family:"Altis";
	src:url($assets-directory+"/fonts/1087AB_6.eot#Altis") format("eot");
	src: local("Altis"),
		url($assets-directory+"/fonts/1087AB_6.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_6.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_6.svg") format("svg");
}

@font-face {
	font-family:"Altis-Light";
	src:url($assets-directory+"/fonts/1087AB_7.eot#Altis-Light") format("eot");
	src: local("Altis-Light"),
		url($assets-directory+"/fonts/1087AB_7.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_7.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_7.svg") format("svg");
}

@font-face {
	font-family:"Altis-Bold";
	src:url($assets-directory+"/fonts/1087AB_8.eot#Altis-Bold") format("eot");
	src: local("Altis-Bold"),
		url($assets-directory+"/fonts/1087AB_8.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_8.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_8.svg") format("svg");
}

@font-face {
	font-family:"Altis-Thin";
	src:url($assets-directory+"/fonts/1087AB_9.eot#Altis-Thin") format("eot");
	src: local("Altis-Thin"),
		url($assets-directory+"/fonts/1087AB_9.woff") format("woff"),
		url($assets-directory+"/fonts/1087AB_9.ttf") format("truetype"),
		url($assets-directory+"/fonts/1087AB_9.svg") format("svg");
}
